<header>
  <div id="div_header">
      <img src="../assets/img1.svg" class="img1"/>
  </div>
</header>



<div class="div_big">

  <div class="div_container_one">
    <div class="div_title">
      <span class="span_title">List of films</span>
    </div>
    <div class="div_search">
      <label for="Title">Film title: </label>
      <input type="text" id="search" (keyup.enter)="searchFilms($event)" placeholder="Search.." name="Title">
    </div>    
    <div class="div_list_films" *ngFor="let film of filmArray; index as i" (click)="clickedFilm($event, i)">
      <span>{{i + 1}} {{film.title}}</span> 
    </div>
  </div>

  <div class="div_container_two">
    <div class="div_title">
      <span class="span_title">Film details</span>
    </div>
    <div class="div_details" id="div_details">
      <!-- <p>title</p>
      <p>release_date</p>
      <p>original_language</p>
      <p>overview</p>
      <p class="average">0</p>
      vote_average -->
    </div>
  </div>
</div>





<router-outlet></router-outlet>
