<header>
  <div id="div_header">
      <img src="../assets/img1.svg" class="img1"/>
  </div>
</header>



<div class="div_big">

  <div class="div_container">
    <div class="div_title">
      <span class="span_title">List of films</span>
    </div>
    <div class="div_search">
      <label for="Title">Film title: </label>
      <input type="text" id="search" (keyup.enter)="searchFilms($event)" placeholder="Search.." name="Title">
    </div>    
    <div class="div_list_films" *ngFor="let film of filmArray; index as i">
      <span id="{{ 'span_film_' + (i + 1) }}" (click)="clickedFilm($event)">{{i + 1}} {{film.title}}</span> 
    </div>
  </div>

  <div class="div_container">
    <div class="div_title">
      <span class="span_title">Film details</span>
    </div>
  </div>
</div>





<router-outlet></router-outlet>
