<header>
  <div id="div_header">
      <img src="../assets/img1.svg" class="img1"/>
  </div>
</header>



<div class="div_big">

  <div class="div_container_one">
    <div class="div_title">
      <span class="span_title">List of films</span>
    </div>
    <div class="div_search">
      <label for="Title">Film title: </label>
      <input type="text" id="search" (keyup.enter)="searchFilms($event)" placeholder="Search.." name="Title">
    </div>    
    <div class="div_list_films" *ngFor="let film of filmArray; index as i" (click)="clickedFilm($event, i)">
      <span>{{i + 1}} {{film.title}}</span> 
    </div>
  </div>

  <div class="div_container_two">
    <div class="div_title">
      <span class="span_title">Film details</span>
    </div>
    <div class="div_details" id="div_details" *ngIf="film">
      <!-- <p><img src="https://api.themoviedb.org/3/movie/{{film.id}}/images?api_key={{token}}&language=en-US"/></p> -->
      <p><img class="img_film" src="https://image.tmdb.org/t/p/w500{{film.poster_path}}"/></p>
      <p>{{film.title}}</p>
      <p>{{film.release_date}}</p>
      <p>{{film.original_language}}</p>
      <p>{{film.overview}}</p>
      <p class="average">{{film.vote_average}}</p>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
